.redBg {
    background-color: red;
    border-radius: 5px;
    color: white;
    padding: 5px;
}

.note {
  width: 30px;
  height: 30px;
  background: #ddd;
  border-bottom: 1px solid #eee;
}
.fret {
  float: left;
  border-left: 5px solid;
}
.menu {
  
  h2 {

  }
}
